<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Titulo</title>
</head>
<body>
 <div class="container">
		<table class="table table-striped">
			<tr>
			<th>Name</th>
			<th>LastName</th> 
			<th>AddressSreet</th> 
			<th>AddressNumber</th> 
			<th>FechaNac</th> 
			<th>Edad</th>  	
			</tr> 
			<tr th:each="alu:${listado}">
			<td th:text="${alu.name}"></td>
			<td th:text="${alu.lastName}"></td>
			<td th:text="${alu.addressStreet}"></td>
			<td th:text="${alu.addressNumber}"></td>
			<td th:text="${alu.fechaNac}"></td>
			<td th:text="${alu.getEdad()}"></td>
		<tr>
		 
		 </div>
</body>
</html>
	